<html>
  <head>
    <title>Courbe</title>
    <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="corps">
      <%= yield %>
    </div>
  </body>
</html>